<!-- start custom footer snippets -->

<!-- 광고모듈 삽입 START -->
<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- github블로그_수평형 -->
<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-3643312417950811"
     data-ad-slot="3519417654"
     data-ad-format="auto"
     data-full-width-responsive="true"></ins>
<script>
     (adsbygoogle = window.adsbygoogle || []).push({});
</script>
<!-- 광고모듈 삽입 END -->

<!-- end custom footer snippets -->